<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Atlas{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #0C1844 ;
        }
        .navbar {
            margin-bottom: 20px;
            background-color: #0C1845;
        }
        .navbar-brand{
            color: white;
            font-size: 25px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-secondary">
    <a class="navbar-brand mb-0 h1" href="{% url 'base:post_list' %}">Atlas</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'base:post_list' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'base:post_create' %}">Create Post</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'base:search' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'base:profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link nav-link">Logout</button>
                    </form>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>